#milebox{
    width: 100%;
    display: flex;
    width: 100%;
    margin: 2rem 0rem 0rem 0rem;
}
#milebox .milecard{
    width: 100%;
    display:  flex;
    flex-direction: column;
    align-items: center;
}
#milebox .milecard .milehead{
    border-bottom: 2px dashed #0362AB;
    width: 100%;
    color: #0362AB;
    text-align: center;
    padding-bottom: 0.5rem;
}
#milebox .milecard a{
    text-decoration: none;
    color: #0362AB;
    width: 50%;
    height: 3rem;
    margin: 2rem 0rem 0rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 15px 0px rgba(128, 128, 128, 0.51);
    border-radius: 1rem;
    cursor: pointer;
}
#milebox .milecard a:hover{
    color: white;
    background-color: #0362AB;
    box-shadow: 0px 1px 15px 5px rgba(128, 128, 128, 0.51);

}

@media screen and (max-width:640px){
    #milebox .milecard{
        padding: 0rem 0.5rem 0rem 0.5rem;
    }
    #milebox .milecard a{
        width: 100%;
    }
}
